.card div{
    width: 330px;
    height: 370px;
    background: #e7e7e7;
    margin: 30px 20px;
    padding: 20px 10px;
    border: 1px solid #026BBB;
    border-radius: 10px;
    margin: 0 auto;
}
.card img{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 50%;
    border: 3px solid #026BBB;
}